body {
  background-color: black;
  background-image: url(minelol.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 3px greenyellow dashed; */
}
.backgroundla {
  background-image: url(frame.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;

  width: 500px;
  height: 500px;
  left: 500px;
  top: 250px;
  position: absolute;
}
.div1 {
  font-family: "Rock Salt", cursive;
  line-height: 40px;
  /* text-transform: lowercase; */
}
.div1:hover {
  font-family: "Rock Salt", cursive;
  line-height: 40px;
  /* text-transform: lowercase; */
}
.div2 {
  /* display: flex;
  align-items: flex-end; */
  /* justify-content: center; */
  color: black;
  font-family: "Rock Salt", cursive;
  /* text-transform: lowercase; */
  line-height: 50px;
  /* font-variant-caps: all-small-caps; */
  font-size: 50px;
  position: absolute;
  right: 100px;
  bottom: 10px;
  text-align: center;
}
.div2:hover {
  /* display: flex;
  align-items: flex-end; */
  /* justify-content: center; */
  color: rgb(170, 44, 12);
  font-family: "Rock Salt", cursive;
  /* text-transform: lowercase; */
  line-height: 50px;
  /* font-variant-caps: all-small-caps; */
  font-size: 50px;
  right: 100px;
  bottom: 10px;
  text-align: center;
}
.they {
  position: absolute;
  left: 700px;
  top: 250px;
  color: black;
  font-size: 25px;
  width: 200px;
}
.they:hover {
  position: absolute;
  left: 700px;
  top: 250px;
  color: white;
  font-size: 25px;
  width: 200px;
}
.call {
  position: absolute;
  left: 100px;
  top: 100px;
  color: black;
  font-size: 10px;
}
.call:hover {
  position: absolute;
  left: 100px;
  top: 100px;
  color: white;
  font-size: 10px;
}
.me {
  position: absolute;
  left: 100px;
  top: 400px;
  color: black;
  font-size: 15px;
}
.me:hover {
  position: absolute;
  left: 100px;
  top: 400px;
  color: white;
  font-size: 15px;
}
.tiago {
  position: absolute;
  left: 400px;
  top: 150px;
  color: black;
  font-size: 15px;
}
.tiago:hover {
  position: absolute;
  left: 400px;
  top: 150px;
  color: white;
  font-size: 15px;
}
.dont {
  position: absolute;
  left: 100px;
  top: 20px;
  color: black;
  font-size: 15px;
  width: 600px;
}
.dont:hover {
  position: absolute;
  left: 100px;
  top: 20px;
  color: white;
  font-size: 15px;
  width: 600px;
}
.know {
  position: absolute;
  left: 10px;
  top: 170px;
  color: black;
  font-size: 15px;
}
.know:hover {
  position: absolute;
  left: 10px;
  top: 170px;
  color: white;
  font-size: 15px;
}
.girl {
  position: absolute;
  width: 500px;
  left: 50px;
  top: 300px;
  color: black;
  font-size: 25px;
}
.girl:hover {
  position: absolute;
  width: 500px;
  left: 50px;
  top: 300px;
  color: white;
  font-size: 25px;
}
.named {
  position: absolute;
  left: 100px;
  top: 700px;
  color: black;
  font-size: 15px;
}
.named:hover {
  position: absolute;
  left: 100px;
  top: 700px;
  color: white;
  font-size: 15px;
}
.margo {
  position: absolute;
  left: 500px;
  top: 210px;
  color: black;
  font-size: 15px;
}
.margo:hover {
  position: absolute;
  left: 500px;
  top: 210px;
  color: white;
  font-size: 15px;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.row {
  display: flex;
  display: none;
}

.column {
  /* flex: 33.33%; */
  padding: 5px;
  align-items: center;
  display: none;
}
.butter {
  display: none;
}
.milk {
  display: none;
}
/* Dropdown Button */
.dropbtn {
  background-color: #080808;
  color: rgb(7, 7, 7);
  padding: 50px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;

  z-index: 5;
  right: 200px;
  top: 50px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  font-family: "Rock Salt", cursive;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(180, 28, 28);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Rock Salt", cursive;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(248, 246, 246);
  font-family: "Rock Salt", cursive;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  font-family: "Rock Salt", cursive;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #f50a0a;
  font-family: "Rock Salt", cursive;
}

/* .div5 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 400px;
  top: 300px;
  display: block;
} */
.crown {
  display: block;
  background-image: url(crown.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 300px;
  left: 400px;
  top: 10px;
  position: absolute;
  display: none;
}
.skull {
  position: absolute;
  left: 300px;
  top: 60px;
  display: none;
}
.pen {
  position: absolute;
  left: 500px;
  top: 340px;
  display: none;
}
.needless {
  position: absolute;
  left: 100px;
  top: 160px;
  display: none;
}
.advanced {
  position: absolute;
  left: 800px;
  top: 110px;
  display: none;
}
.lining {
  position: absolute;
  left: 50px;
  top: 230px;
  display: none;
}
.trippie {
  position: absolute;
  right: 2px;
  top: 10px;
  z-index: 5;
  display: none;
}
.tyler {
  position: absolute;
  left: 0px;
  top: 50px;
  z-index: 5;
  display: none;
}
.music {
  position: absolute;
  top: 0px;
  left: 60px;
  display: none;
}
.crown {
  display: none;
}

/* portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .div1 {
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-variant-caps: all-small-caps;
    display: flex;
    align-items: flex-start;
    width: 400px;
    font-size: 20px;
    visibility: hidden;
    display: none;
  }

  body {
    background-color: black;
    background-image: none;
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* visibility: hidden;
    display: none; */
  }
  .container {
    display: flex;
    width: 100vw;
    height: 100vh;
    display: none;
  }
  .div2 {
    display: flex;
    align-items: flex-end;
    /* justify-content: center; */
    color: white;
    font-family: arial;
    font-variant-caps: all-small-caps;
    font-size: 100px;
    /* font-style: italic; */
    visibility: hidden;
    display: none;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .column {
    /* flex: 33.33%; */
    width: 100%;
    display: block;
    padding-right: 50%;
    align-items: center;
  }
  .milk {
    width: 280px;
    height: 100vh;
    display: block;
    background-color: black;
    padding-top: 200px;
    padding-left: 50px;
    position: fixed;
    top: 0px;
    right: 0px;
    transform: translateX(100%);
    color: white;
    font-family: "Rock Salt", cursive;

    font-size: 20px;
  }
  .appear {
    transform: translateX(0%);
    /* opacity: 80%; */
    transition: ease-in-out 1s all;
  }

  .butter {
    width: 100px;
    height: 100px;
    /* background-color: white; */
    background-image: url(finger.png);
    background-size: cover;
    position: fixed;
    top: 20px;
    right: 15px;
    display: block;
    z-index: 7;

    border-radius: 50%;
  }
  /* Dropdown Button */
  .dropbtn {
    background-color: #f5faf6;
    color: rgb(7, 7, 7);
    padding: 100px;
    font-size: 16px;
    border: none;
    width: 5px;
    height: 5px;
    display: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;

    z-index: 5;
    right: 10px;
    display: none;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(180, 28, 28);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(248, 246, 246);
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #f50a0a;
  }
  .crown {
    display: block;
    background-image: url(crown.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
    left: 400px;
    top: 10px;
    position: absolute;
    display: none;
  }
  .skull {
    position: absolute;
    left: 300px;
    top: 60px;
    display: none;
  }
  .pen {
    position: absolute;
    left: 500px;
    top: 340px;
    display: none;
  }
  .needless {
    position: absolute;
    left: 100px;
    top: 160px;
    display: none;
  }
  .advanced {
    position: absolute;
    left: 800px;
    top: 110px;
    display: none;
  }
  .lining {
    position: absolute;
    left: 50px;
    top: 230px;
    display: none;
  }
  .trippie {
    position: absolute;
    right: 2px;
    top: 10px;
    z-index: 5;
    display: none;
  }
  .tyler {
    position: absolute;
    left: 0px;
    top: 50px;
    z-index: 5;
    display: none;
  }
  .joji {
    position: absolute;
    top: 0px;
    left: 60px;
    display: none;
  }
}

@media only screen and (max-device-width: 1920px) and (min-device-width: 1500px) and (orientation: landscape) {
  body {
    /* background-color: white; */
    background-color: black;
    /* background-image: url(woah.png); */
    background-image: url(reaper.gif);
    background-repeat: no-repeat;
    background-size: cover;

    /* border: 3px greenyellow dashed; */
  }
  .container {
    display: none;
    /* width: 100vw;
    height: 100vh; */
  }
  .projectorcontainer {
    background-image: url(white.JPG);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
  }
  .backgroundla {
    display: none;
    background-image: none;
  }
  .dropbtn {
    display: none;
  }
  .dropdown {
    display: none;
  }
  .row {
    display: none;
  }
  .crown {
    display: block;
    background-image: url(crown.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 700px;
    left: 400px;
    top: 10px;
    position: absolute;
    z-index: 7;
  }
  .skull {
    position: absolute;
    left: 100px;
    top: 360px;
    display: block;
    opacity: 50%;
  }
  .pen {
    position: fixed;
    left: 500px;
    top: 340px;
    display: block;
    font-size: 50px;
  }
  .needless {
    position: fixed;
    left: 100px;
    top: 160px;
    display: block;
    font-size: 50px;
  }
  .advanced {
    position: fixed;
    left: 800px;
    top: 110px;
    display: block;
    font-size: 50px;
  }
  .lining {
    position: fixed;
    left: 50px;
    top: 230px;
    display: block;
    font-size: 50px;
  }
  .trippie {
    position: fixed;
    right: 100px;
    top: 100px;
    z-index: 5;
    display: block;
  }
  .tyler {
    position: fixed;
    left: 400px;
    top: 50px;
    z-index: 5;
    display: block;
  }
  .joji {
    position: fixed;
    top: 0px;
    left: 100px;
    display: block;
  }
  .jojitwo {
    position: fixed;
    top: 700px;
    left: 300px;
    display: block;
  }
  .scream {
    opacity: 70%;
  }
  .painting {
    display: block;
    background-image: url(woah.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 700px;
    left: 100px;
    top: 600px;
    position: absolute;
    z-index: 7;
  }
  .still {
    /* background-image: url(still.png);
    background-size: contain;
    background-repeat: no-repeat; */
    width: 1920px;
    height: 1920px;
    left: 0px;
    top: 400px;
    z-index: 8;
    position: fixed;
  }
}
