body {
  background-color: black;
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes move {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: 1000px;
    left: 0px;
  }
}
.one {
  width: 100px;
  height: 100px;
  background-color: rgb(9, 247, 167);
  top: 400px;
  left: 100px;
  position: absolute;
  animation: spinning;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-delay: 1.6s;
  animation-iteration-count: infinite;
}

.two {
  width: 700px;
  height: 300px;
  background-color: rgb(9, 247, 167);
  top: 500px;
  left: 500px;
  position: absolute;
  animation: spinning;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-delay: 1.6s;
  animation-iteration-count: infinite;
}

.three {
  width: 100px;
  height: 100px;
  background-color: rgb(11, 156, 253);
  top: 300px;
  left: 500px;
  position: absolute;
  animation: spinning;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
}

.four {
  width: 600px;
  height: 100px;
  background-color: rgb(204, 43, 182);
  top: 450px;
  left: 300px;
  position: absolute;
  animation: spinning;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

.five {
  width: 50px;
  height: 600px;
  background-color: rgb(140, 236, 13);
  top: 450px;
  left: 100px;
  position: absolute;
  animation: spinning;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.six {
  width: 50px;
  height: 600px;
  background-color: rgb(140, 236, 13);
  top: 500px;
  left: 200px;
  position: absolute;
  animation: spinning;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}

.seven {
  width: 200px;
  height: 400px;
  background-color: rgb(3, 27, 240);
  top: 200px;
  left: 800px;
  position: absolute;
  animation: spinning;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-delay: 1.2s;
  animation-iteration-count: infinite;
}

.eight {
  width: 600px;
  height: 600px;
  background-color: white;
  top: 700px;
  left: 300px;
  position: absolute;
  animation: spinning;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
.nine {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 5px;
  left: 0px;
  position: absolute;
  animation: move;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-delay: 0.7s;
  animation-iteration-count: infinite;
}
.ten {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 15px;
  left: 0px;
  position: absolute;
  animation: move;
}
.eleven {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 25px;
  left: 0px;
  position: absolute;
  animation: move;
}
.twelve {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 35px;
  left: 0px;
  position: absolute;
  animation: move;
}
.thirteen {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 45px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fourteen {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 55px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fifteen {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 65px;
  left: 0px;
  position: absolute;
  animation: move;
}
.sixteen {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 75px;
  left: 0px;
  position: absolute;
  animation: move;
}
.seventeen {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 85px;
  left: 0px;
  position: absolute;
  animation: move;
}
.eighteen {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 95px;
  left: 0px;
  position: absolute;
  animation: move;
}
.nineteen {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 105px;
  left: 0px;
  position: absolute;
  animation: move;
}
.twenty {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 115px;
  left: 0px;
  position: absolute;
  animation: move;
}
.twentyone {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 125px;
  left: 0px;
  position: absolute;
  animation: move;
}
.twentytwo {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 135px;
  left: 0px;
  position: absolute;
  animation: move;
}
.twentythree {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 145px;
  left: 0px;
  position: absolute;
  animation: move;
}
.twentyfour {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 155px;
  left: 0px;
  position: absolute;
  animation: move;
}
.twentyfive {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 165px;
  left: 0px;
  position: absolute;
  animation: move;
}
.twentysix {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 175px;
  left: 0px;
  position: absolute;
  animation: move;
}
.twentyseven {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 185px;
  left: 0px;
  position: absolute;
  animation: move;
}
.twentyeight {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 195px;
  left: 0px;
  position: absolute;
  animation: move;
}
.twentynine {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 205px;
  left: 0px;
  position: absolute;
  animation: move;
}
.thirty {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 215px;
  left: 0px;
  position: absolute;
  animation: move;
}
.thirtyone {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 225px;
  left: 0px;
  position: absolute;
  animation: move;
}
.thirtytwo {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 235px;
  left: 0px;
  position: absolute;
  animation: move;
}
.thirtythree {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 245px;
  left: 0px;
  position: absolute;
  animation: move;
}
.thirtyfour {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 255px;
  left: 0px;
  position: absolute;
  animation: move;
}
.thirtyfive {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 265px;
  left: 0px;
  position: absolute;
  animation: move;
}
.thirtysix {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 275px;
  left: 0px;
  position: absolute;
  animation: move;
}
.thirtyseven {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 285px;
  left: 0px;
  position: absolute;
  animation: move;
}
.thirtyeight {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 295px;
  left: 0px;
  position: absolute;
  animation: move;
}
.thirtynine {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 305px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fourty {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 315px;
  left: 0px;
  position: absolute;
  animation: move;
}

.fourtyone {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 325px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fourtytwo {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 335px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fourtythree {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 345px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fourtyfour {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 355px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fourtyfive {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 365px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fourtysix {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 375px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fourtyseven {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 385px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fourtyeight {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 395px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fourtynine {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 405px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fifty {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 415px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fiftyone {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 425px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fiftytwo {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 435px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fiftythree {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 445px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fiftyfour {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 455px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fiftyfive {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 465px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fiftysix {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 475px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fiftyseven {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 485px;
  left: 0px;
  position: absolute;
  animation: move;
}
.fiftyeight {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 495px;
  left: 0px;
  position: absolute;
}
.fiftynine {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 505px;
  left: 0px;
  position: absolute;
}
.sixty {
  width: 100%;
  height: 5px;
  background-color: white;
  top: 515px;
  left: 0px;
  position: absolute;
}
