body {
  background-color: white;
  display: flex;
  justify-content: center;
}
.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: black;
  animation: bounce 0.75s;
  animation-direction: alternate;
  animation-iteration-count: 20;
  animation-timing-function: ease-in-out;
  display: flex;
  margin-left: 0px;
  margin-top: 300px;
  /* justify-content: start;
  align-items: flex-start; */
}
@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 500px, 0);
  }
}

.container {
  display: flex;
  justify-content: space-around;
}
.container:hover {
  display: flex;
  justify-content: space-around;
  transform: rotate(360deg) scale(3) skewY(20deg);

  /* transition: rotate(360) scale(0.5, 3); */
  transition-timing-function: ease-in-out;
  transition-duration: 5s;
  animation-delay: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 75%;
}
.box {
  width: 50px;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}
.box:hover {
  width: 50px;
  height: 50px;
  margin-top: 300px;
  background-color: orangered;
  transform: rotate(360deg) scale(3) skewY(20deg);

  /* transition: rotate(360) scale(0.5, 3); */
  transition-timing-function: ease-in-out;
  transition-duration: 5s;
  animation-delay: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 75%;
}
